:root {
    --main-padding-sides: 5%;
    --main-padding-non-sides: 2%;
    --main-margin: 3%;
    --box-shadow: 0 2mm 3mm 2mm rgba(0, 0, 0, 0.2);
}
body {
    background-color: seashell;
    font-family: "Recursive", sans-serif;
    max-width: 2000px;
}
main {
    background-image: url("../assets/paper.jpg");
    background-position: center;
    background-size: cover;
    margin: var(--main-margin);
    padding-top: var(--main-padding-non-sides);
    padding-bottom: var(--main-padding-non-sides);
    padding-left: var(--main-padding-sides);
    padding-right: var(--main-padding-sides);
    box-shadow: var(--box-shadow)
}
p {
    font-size: 16pt;
}
h1 {
    font-size: 42pt;
}
h2 {
    font-size: 26pt;
    margin-top: 3%;
    border-bottom: 1mm solid black;
}
a:link, a:visited {
    text-decoration: none;
    color: black;
}
a:hover {
    color: gray;
    text-decoration: underline;
}
#language-link {
    margin-left: var(--main-margin);
}
section, footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 15mm;
}
#with-photo {
    grid-template-columns: 1fr 1fr 1fr;
}
#name {
    grid-column: 1 / span 3;
}
#portrait {
    grid-column: 3;
    grid-row: 2 / 6;
    width: 100%;
    max-width: 80mm;
}
.footer-link {
    text-align: right;
}
.full-item {
    grid-column: 1 / span 3;
}
.left-item {
    grid-column: 1 / span 1;
}
.middle-item {
    grid-column: 2 / span 1;
}

@media only screen and (max-width: 768px) {
    :root {
        --main-margin: 0;
        --box-shadow: none;
    }
    h1 {
        text-align: center;
    }
    section, footer, #with-photo {
        grid-template-columns: 1fr 1fr;
        column-gap: 7mm;
    }
    #with-photo {
        row-gap: 5mm;
    }
    #name {
        grid-column: 1 / span 2;
        margin: auto;
    }
    #portrait {
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
        max-height: 80mm;
        margin: auto;
    }
    .full-item {
        grid-column: 1 / span 2;
    }
}

@media only screen and (max-width: 450px) {
    h1 {
        font-size: 26pt;
    }
    h2 {
        font-size: 16pt;
    }
    p {
        font-size: 10pt;
    }
}

@media print {
    :root {
        --main-margin: 0;
        --box-shadow: none;
    }
    #language-link {
        display: none;
    }
    #portrait {
        width: 55mm;
        margin: auto;
    }
    header, section, footer {
        page-break-inside: avoid;
    }
}
